
Source/UnionpayCard/UnionpayCard.xcworkspace/xcuserdata/dongyiming.xcuserdatad/UserInterfaceState.xcuserstate

.DS_Store

*.xcuserstate

*.xcscheme

*.xcbkptlist

*.xcbkptlist

*.pbxproj


Source/UnionpayCard/Pods/Pods.xcodeproj/xcuserdata/dongyiming.xcuserdatad/xcschemes/xcschememanagement.plist
